.footer__links-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  @media screen and (max-width: 735px) {
    .footer__links-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }
  }
  