.description {
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  margin: 0 auto 92px;
  padding: 0 148px;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: white;
}

@media screen and (max-width: 1024px) {
  .description {
    margin-bottom: 92px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 769px) {
  .description {
    padding: 0;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .description {
    margin-bottom: 64px;
  }
}
