.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  .introduction{
    padding: 0 148px;
    max-width: 984px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 1024px) {
  .introduction{
    padding: 0 286px 0 48px;
    max-width: 690px;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 769px) {
  .introduction{
    padding: 0 24px;
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .introduction{
    padding: 0 16px;
    margin-bottom: 64px;
  }
}