.introduction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 928px;
  margin: 0 auto 92px;
  padding: 0 48px;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 769px) {
  .introduction{
    padding: 0 24px;
    max-width: 720px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .introduction{
    padding: 0 16px;
    margin-bottom: 64px;
  }
}