.description__image {
    margin: 64px auto 8px;
    width: 100%;
    object-fit: cover;
    max-width: 984px;
    margin-top: 64px;
  }

  @media screen and (max-width: 1024px) {
    .description__image {
      max-width: 928px;
      margin-top: 56px;
    }
  }

  @media screen and (max-width: 768px) {
    .description__image {
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .description__image {
      margin-top: 40px;
    }
  }