.description__subtitle {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 640px;
  }
  
  @media screen and (max-width: 320px) {
    .description__subtitle{
      font-size: 16px;
      line-height: 1.25;
      max-width: 288px;
    }
  }