.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  padding: 0 48px 24px;
  margin: 0 auto;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 735px) {
  .footer{
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 735px) {
  .footer{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 24px 16px;
  }
}